<h1>Know more about this recipe</h1>
<div>
    <h2>Poster:<a href='/users/profile/{{a.posterId}}'> {{a.posterUsername}}</a></h2>
    <h2>{{a.recipeName}}</h2>
    <img class='photo' alt='{{a._id}} recipepicture' src='/public/images/{{a.recipePicture}}'/>
    <p id="m">{{a.recipeDescription}}</p>
    <p>Ingredients: {{a.ingredients}}</p>
    <br>
    <p>Prepping Directions: {{a.preppingDirections}}</p>
    <br>
    <p>Cooking Directions: {{a.cookingDirections}}</p>
    <br>
    <p id='likeCount'>Likes: {{a.likes}}</p>
    <form id='likeForm'>
    <label for='likeStatus'>
    <button type='submit' id='likeStatus' name='likeStatus' value='{{likedStatus}}'>{{likedStatus}}</button>
    </label>
    <input type="hidden" name="recipeId" id="recipeId" value="{{a._id}}">
    </form>
    <h3>Comments:</h3>
    {{#each b}}
    <ul class='commentList'>
        <li class='comment'><h4>Subject : {{subject}}</h4>
        <h5>Description : {{description}}</h5></li>
    </ul>
    {{/each}}
</div>

<div>
    <form id="formForComment" method="post" action="/recipe/comments">Comment On This Recipe
    <br>
    <input type="hidden" name="recipeId" id="recipeid" value="{{a._id}}">
    <br>
    <label for="subject">Enter Comment Subject
    <br><br>
    <input type="text" placeholder="Enter Subject Line" id="subject" name="subject">
    </label>
    <br><br>
    <label for="description" > Enter Comment Description
        <br><br>
    <textarea id="description" placeholder="Enter Description" name="description"></textarea>
    </label>
    <br><br>
    <button type="submit" value="Submit" id="submit3">Submit</button>
    </form>
    <br><br>
    <div id="errorcheck">
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
    </div>
    <script src="/public/js/clientSidePostAcomment.js"></script>
    <a href="/loggedIn">Back to Feed</a>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src='/public/js/likeAjax.js'></script>



