<h1>Know more about this recipe</h1>
<div>
    <h2>Poster:<a href='/users/profile/{{a.posterId}}'> {{a.posterUsername}}</a></h2>
    <h2>{{a.recipeName}}</h2>
    <img alt='{{a._id}} recipepicture'src='/public/images/{{a.recipePicture}}'/>
    <p id="m">{{a.recipeDescription}}</p>
    <p>Ingredients: {{a.ingredients}}</p>
    <br>
    <p>Prepping Directions: {{a.preppingDirections}}</p>
    <br>
    <p>Cooking Directions: {{a.cookingDirections}}</p>
    <br>
    <p>Likes: {{a.likes}}</p>
    <form action='/recipe/like' method='POST'id='likeForm'>
    <label for='like'>
    <button type='submit'id='likeStatus' name='likeStatus' value='{{likedStatus}}'>{{likedStatus}}</button>
    </label>
    <input type="hidden" name="recipeId" id="recipeId" value="{{a._id}}">
    </form>
    <h4>Comments:</h4>
    {{#each b}}
    <ul>
        <h5>{{subject}}</h5>
        <p>{{description}}</p>
    </ul>
    {{/each}}
</div>
<div>
    <form id="comm" method="post" action="/recipe/comments">Comment On This Recipe
    <input type="hidden" name="recipeId" id="recipeId" value="{{a._id}}">
    <br><br>
    <input type="text" placeholder="Enter Subject Line" id="subject" name="subject">
    <br><br>
    <textarea id="description" placeholder="Enter Description" name="description"></textarea>
    <br><br>
    <button type="submit" value="Submit">Submit</button>
    </form>
    <br><br>
    <a href="/loggedIn">Back to Feed</a>
</div>
<div id="errorcheck">
    {{#if error}}
    <p>{{error}}</p>
    {{/if}}
</div>

