<div>
<form action="/recipe/sortedCuisine" method="post" id="formForSortByCusisines">
    <label for="cuisines">Sort by Cuisine</label>
    <br><br>
    <select id="cuisines" name="cuisines">
        <option value="italian" >Italian</option>
        <option value="mexican">Mexican</option>
        <option value="indian" >Indian</option>
        <option value="american" >American</option>
        <option value="lebanese">Lebanese</option>
        <option value="other">Other</option>
    </select>
    <label>
        <input type="submit" value="Submit Option" id="submit6">
    </label>
</form>
</div>
{{#if error}}
<p>{{error}}</p>
{{/if}}
<div>
    {{#each sortCui}}
    <ul class='recipeDisplay'>
        <li class='recipeList'> 
            <a  href="/recipe/post/{{_id}}"><img class='recipeListImage' alt='{{_id}} picture' src='/public/images/{{recipePicture}}'/></a><br>
            <div class="recipeContent">
            <a href="/recipe/post/{{_id}}">{{recipeName}}</a>
            <p>Created By <a href='/users/profile/{{posterId}}'>{{posterUsername}}</a></p>
            </div>
        </li>
    </ul>
    {{/each}}
    <a href="/loggedIn">Back To Feed</a>
</div>
