    <link rel='stylesheet' href='public/css/style.css'/>
    <button id='likesButton' >Likes</button>
    <button id='profileButton' hidden>Profile</button>
    <button id='recentsButton'>Recents</button>
    <div id="profile">
        <label for="edit">Edit:</label><br>
        <button id="edit" name="edit">Edit Profile</button>
        <h1>{{user.username}}</h1>
        <br>
        <br>
        <img alt='{{user.username}} profile picture' src='/public/images/{{user.profilePicture}}' />
        <br>
        <br>
        <h2> {{user.firstName}}  {{user.lastName}}</h2>
        <br>
        <br>
        <p><b>Bio: </b>{{user.bio}}</p>
        <br>
        <p><b>Favorite Recipe: </b>{{user.favoriteRecipe}}</p>
        <br>
        <ul>
                {{#each user.recipes}}
                    <li>
                    <a href="/recipe/post/{{_id}}">{{recipeName}}</a>
                    </li> 
                    {{else}}
                    <p class="not-found">We're sorry, but this user has not posted any recipes.</p>
                {{/each}}     
        </ul>
    </div>
    <div id='likes' hidden>
        <h1>{{user.username}}</h1>
        <br>
        <br>
        <img alt='{{user.username}} profile picture' src='/public/images/{{user.profilePicture}}' />
        <br>
        <br>
        <h2> {{user.firstName}}  {{user.lastName}}</h2>
        <br>
        <br>
        <h3>Liked Recipes:</h3>
        <ul>
                {{#each user.likes}}
                    <li>
                    <a href="/recipe/post/{{_id}}">{{recipeName}}</a>
                    </li> 
                    {{else}}
                    <p class="not-found">We're sorry, but this user has not liked any recipes.</p>
                {{/each}}     
        </ul>
    </div>
    <div id='editPage' hidden>
        <h2 class='error'>{{error}}</h2>
        <form method="POST" action="{{user._id}}/edit" enctype="multipart/form-data">
    
        <label for="profilePicture" >Profile Picture:</label>
        <input type="file" id="profilePicture" name="profilePicture" accept='image/png, image/jpg, image/jpeg'><br>
        <br>
        <br>
        <label for="bio" >Bio:</label>
        <input type="text" id="bio" name="bio" placeholder="Tell us about yourself..." >
        <br>
        <br>
        <label for="favoriteRecipe" >Favorite Recipe:</label>
        <input type="text" id="favoriteRecipe" name="favoriteRecipe" placeholder="What is your favorite recipe...">
        <br>
        <br>
        <input type="submit" value="Submit" />
        </form>
        <input type="submit" id='cancel' name='cancel' value="Cancel" />
        
    </div>
    <div id='recents' hidden>
        <h1>{{user.username}}</h1>
        <br>
        <br>
        <img alt='{{user.username}} profile picture' src='/public/images/{{user.profilePicture}}' />
        <br>
        <br>
        <h2> {{user.firstName}}  {{user.lastName}}</h2>
        <br>
        <br>
        <h3>Recently Viewed Recipes:</h3>
        <ul>
                {{#each user.recentlyViewedRecipes}}
                    <li>
                    <a href="/recipe/post/{{_id}}">{{recipeName}}</a>
                    </li> 
                    {{else}}
                    <p class="not-found">You have not recently viewed any recipes.</p>
                {{/each}}     
        </ul>
    </div>
    <a href="/loggedIn">Back to Feed</a>
{{!-- <script src="/public/js/ClientSideUpdateProfile.js"></script> --}}
<script>
        let profileButton = document.getElementById('profileButton')
        let likesButton = document.getElementById('likesButton')
        let profile = document.getElementById('profile')
        let likes = document.getElementById('likes')
        let editButton = document.getElementById('edit')
        let editProfile = document.getElementById('editPage')   
        let cancelButton = document.getElementById('cancel')
        let recents = document.getElementById('recents')   
        let recentsButton = document.getElementById('recentsButton')

        likesButton.addEventListener('click',(event)=>{
            profile.hidden = true;
            likesButton.hidden = true;
            profileButton.hidden = false;
            likes.hidden = false;
            editProfile.hidden = true;
            recentsButton.hidden = false;
            recents.hidden = true;
        }) 
        profileButton.addEventListener('click',(event)=>{
            profile.hidden = false;
            likesButton.hidden = false;
            profileButton.hidden = true;
            likes.hidden = true;
            editProfile.hidden = true;
            recentsButton.hidden = false;
            recents.hidden = true;
        })
        editButton.addEventListener('click',(event)=>{
            profile.hidden = true;
            likesButton.hidden = true;
            profileButton.hidden = true;
            likes.hidden = true;
            editProfile.hidden = false;
            recentsButton.hidden = true;
            recents.hidden = true;
            
        })          
        cancelButton.addEventListener('click',(event)=>{
            profile.hidden = false;
            likesButton.hidden = false;
            profileButton.hidden = true;
            likes.hidden = true;
            editProfile.hidden = true;
            recentsButton.hidden = false;
            recents.hidden = true;
        })
        recentsButton.addEventListener('click',(event)=>{
            profile.hidden = true;
            likesButton.hidden = false;
            profileButton.hidden = false;
            likes.hidden = true;
            editProfile.hidden = true;
            recentsButton.hidden = true;
            recents.hidden = false;
        })

</script>
